@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-color-palette: map.get($color-config, foreground);
  $primary-color-palette: map.get($color-config, primary);
  $warn-color-palette: map.get($color-config, warn);

  tp-flash-sale {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;

    > div.flash-sale-row {
      align-items: center;
      display: flex;
      gap: 16px;

      > fa-icon {
        color: mat.get-color-from-palette($primary-color-palette);
        font-size: 3rem;
      }

      div.flash-sale-detail {
        display: flex;
        flex-direction: column;

        h5 {
          font-size: .86rem;
          font-weight: 600;
          margin-bottom: 0;
        }

        p {
          color: mat.get-color-from-palette($foreground-color-palette, secondary-text);
          font-size: .8rem;
          margin-bottom: 4px;
        }

        div.flash-sale-time {
          align-items: center;
          font-size: .7rem;
          flex-shrink: 1;

          > span {
            background-color: mat.get-color-from-palette($warn-color-palette, 100);
            border-radius: 2px;
            color: mat.get-color-from-palette($warn-color-palette);
            padding: 2px 4px;
          }

          b {
            padding-left: 4px;
          }
        }
      }
    }
  }
}
