@use 'sass:map';
@use '@angular/material' as mat;
@use './calendar/' as calendar;
@use './campaign/' as campaign;
@use './news/' as news;
@use './recomendations/' as recomendations;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-color-palette: map.get($color-config, foreground);

  @include calendar.color($theme);
  @include campaign.color($theme);
  @include news.color($theme);
  @include recomendations.color($theme);

  tp-utilities {
    display: flex;
    flex-direction: column;

    h3.title {
      color: mat.get-color-from-palette($foreground-color-palette, text);
      font-size: 1.2rem;
      font-weight: 600;
      line-height: normal;
      margin: 0 0 2px;
    }

    h4.subtitle {
      color: mat.get-color-from-palette($foreground-color-palette, secondary-text);
      font-size: .86rem;
      margin-bottom: 16px;
    }
  }
}
