@use './components/header/' as header;
@use './components/main/home/' as home;
@use './components/sidenav/' as sidenav;

@mixin color($theme) {
  @include header.color($theme);
  @include home.color($theme);
  @include sidenav.color($theme);

  tp-root {
    display: flex;
    padding-top: 90px;

    main {
      flex: 1 1 0%;
      padding: 32px 16px;
      min-height: 100vh;
    }
  }
}
