@use 'sass:map';
@use '@angular/material' as mat;
@use './components/chat-toolbar/' as chat-toolbar;
@use './components/header/' as header;
@use './components/main/home/' as home;
@use './components/sidenav/' as sidenav;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background-color-palette: map.get($color-config, background);
  $foreground-color-palette: map.get($color-config, foreground);
  $primary-color-palette: map.get($color-config, primary);

  @include chat-toolbar.color($theme);
  @include header.color($theme);
  @include home.color($theme);
  @include sidenav.color($theme);

  mat-card.mat-mdc-card {
    padding: 16px;
    position: relative;
  }

  mat-card-title.mat-mdc-card-title {
    color: mat.get-color-from-palette($foreground-color-palette, text);
    font-size: 0.94rem;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
  }
  
  mat-card-subtitle.mat-mdc-card-subtitle {
    color: mat.get-color-from-palette($foreground-color-palette, hint-text);
    font-size: 0.8rem;
    position: relative;
  }

  mat-card-content.mat-mdc-card-content {
    margin: 0;
    padding: 0;
    position: relative;

    &:last-child, &:first-child {
      padding: 0;
    }
  }
  
  mat-card-actions.mat-mdc-card-actions {
    justify-content: end;
    margin-top: 16px;
    min-height: 0;
    padding: 0;
  }

  tp-root {
    > section.main {
      display: flex;
      padding-top: 90px;

      > main {
        flex: 1 1 0%;
        min-height: 100vh;
        padding: 32px 16px;
      }
    }

    > section.footer {
      background-color: mat.get-color-from-palette(
        $background-color-palette,
        background
      );
      border-bottom: 3px solid
        mat.get-color-from-palette($primary-color-palette, text);
      border-radius: 8px 8px 0 0;
      bottom: 0px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      overflow: hidden;
      padding: 4px 8px;
      position: fixed;
      right: 70px;
    }
  }
}
