@use 'sass:map';
@use '@angular/material' as mat;
@use './advertisement/' as advertisement;
@use './empty/' as emptyStock;

@mixin color($theme) {

  @include advertisement.color($theme);
  @include emptyStock.color($theme);

  tp-stock-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
  }

  .activity-tooltip {
    font-size: 0.8rem;
  }
}
