@use 'sass:map';
@use '@angular/material' as mat;
@use 'dashboard.mixin' as dashboard;
@use 'chat-toolbar.mixin' as chat-toolbar;
@use 'info-bar.mixin' as infoBar;
@use 'primary-bar.mixin' as primaryBar;
@use './components/main/home/' as home;
@use 'sidenav.mixin' as sidenav;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background-color-palette: map.get($color-config, background);
  $foreground-color-palette: map.get($color-config, foreground);
  $primary-color-palette: map.get($color-config, primary);

  @include dashboard.color($theme);
  @include chat-toolbar.color($theme);
  @include infoBar.color($theme);
  @include primaryBar.color($theme);
  @include home.color($theme);
  @include sidenav.color($theme);

  mat-card.mat-mdc-card {
    padding: 16px;
    position: relative;
  }

  mat-card-title.mat-mdc-card-title {
    color: mat.get-color-from-palette($foreground-color-palette, text);
    font-size: 0.94rem;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
  }

  mat-card-subtitle.mat-mdc-card-subtitle {
    color: mat.get-color-from-palette($foreground-color-palette, hint-text);
    font-size: 0.8rem;
    position: relative;
  }

  mat-card-content.mat-mdc-card-content {
    margin: 0;
    padding: 0;
    position: relative;

    &:last-child,
    &:first-child {
      padding: 0;
    }
  }

  mat-card-actions.mat-mdc-card-actions {
    justify-content: end;
    margin-top: 16px;
    min-height: 0;
    padding: 0;
  }

  tp-root {
    > header {
      background-color: mat.get-color-from-palette(
        $background-color-palette,
        app-bar
      );
      left: 0px;
      position: fixed;
      right: 0px;
      top: 0px;
      z-index: 10;
    }
    
    > section.main {
      display: flex;
      padding-top: 90px;

      > main {
        flex: 1 1 0%;
        min-height: 100vh;
        padding: 32px 16px;
      }
    }
  }
}
