@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-color-palette: map.get($color-config, foreground);
  $primary-color-palette: map.get($color-config, primary);

  tp-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    mat-card-content.mat-mdc-card-content {
      > div.header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;

        > h4.title {
          color: mat.get-color-from-palette($foreground-color-palette, text);
          font-size: 0.94rem;
          font-weight: 600;
          line-height: normal;
          margin: 0 0 2px;
        }

        mat-form-field {
          .mat-form-field-infix {
            width: auto;
          }

          .mat-select-arrow {
            margin-left: 10px;
          }
        }
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          align-items: center;
          border-bottom: 1px solid
            mat.get-color-from-palette($foreground-color-palette, divider);
          display: flex;
          gap: 16px;
          margin: 0 16px;
          padding: 16px 0;

          &:last-child {
            border: none;
          }

          div.image {
            color: mat.get-color-from-palette($primary-color-palette);
            font-size: 3rem;
          }

          div.description {
            overflow: hidden;

            h5.title {
              font-size: 0.9rem;
              font-weight: 600;
              line-height: 1.2rem;
              margin: 0;
              padding: 0 0 4px;
            }

            p.intro {
              color: mat.get-color-from-palette(
                $foreground-color-palette,
                secondary-text
              );
              display: flex;
              flex-direction: column;
              float: left;
              font-size: 0.76rem;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
