@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-color-palette: map.get($color-config, foreground);

  tp-activity {
    display: block;

    mat-card.mat-mdc-card {
      min-height: 100%;
    }

    mat-card-subtitle.mat-mdc-card-subtitle {
      margin-bottom: 4px;
      min-height: 45px;

      a.title {
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: keep-all;
      }

      fa-icon {
        cursor: pointer;
        position: absolute;
        right: 0px;
      }
    }

    mat-card-title.mat-mdc-card-title {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
    }
  }

  .activity-tooltip {
    font-size: 0.8rem;
  }
}
