@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-color-palette: map.get($color-config, foreground);

  tp-sidenav-menu {
    display: block;
    padding-bottom: 10px;

    ul.top {
      align-items: flex-start;
      height: auto;
      margin: 0;
      padding: 16px 0;

      li {
        display: flex;
        width: 100%;
      }
    }

    .divider {
      border-top: 1px solid mat.get-color-from-palette(
        $foreground-color-palette,
        divider
      );
      display: block;
      height: 0px;
      margin: 0 10px;
      overflow: hidden;
    }
  }
}
